$GreyLight: #f8f9fe;
$Green: #47ceab;
$GreenLight: #94decb;
$GreenLighter: #e8f9f3;
$Orange: #ffa70d;
$OrangeLight: #FDF8E7;
$Red: #fda18a;
$RedLight: #ffe8e8;
$RedLightest: #fffcf3;
$Blue: #5a75f8;
$BlueDark: #3f4a77;
$BlueMedium: #5d6798;
$BlueLight: #767faa;
$BlueLighter: #a6abc9;
$background: $GreyLight;
$TextDark: $BlueDark;
$TextMedium: $BlueMedium;
$TextLight: $BlueLight;
$accent: $Blue;