html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%; }

body > div {
  height: 100%; }

img {
  max-width: 100%; }

.successButton button {
  background-color: #51D399 !important; }

.dangerButton button {
  background-color: crimson !important; }
